*{
    margin: 0px;
    padding: 0px;
}

.raleway-font{
    font-family: 'Raleway', sans-serif;
}

header{
    background: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 700px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 1300px;
    margin: 0 auto;
}

nav div h1{
    font-size: 40px;
    font-weight: 800;
    color: blue;
}

.button-primary{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}  

.button-primary:hover{
    background-color: darkblue;
}

.header-section{
    text-align: center;
   
    margin-top: 200px;
  
}

.header-section h1{
    font-size: 60px;
    font-weight: 800;
    color: black;
    margin-bottom: 30px;
}

/* end header */

.section-1{
    width: 1300px;
    margin: 150px auto;
}

.section-1 h1{
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

.section-1 p{
    font-size: 20px;
    color: gray;
    margin-bottom: 30px;
}

/* end section 1 */

.section-2{
    width: 1300px;
    margin: 150px auto;
    background-color: #4d47ff5f;
    height: 310px;
    border-radius: 15px;
}

.section-2 .section-2-div-1 h1{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
}

.section-2-div-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 30px;

}

.section-2-div-2 h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom:10px ;
    color: rgba(0, 0, 255, 0.671);
}

/* end the section-2 */